<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1 style="text-align: center;">Practica Big Data</h1>
      <h3 style="text-align: center;">Bases de Datos orientadas a Grafos</h3>
      <h5 style="text-align: center;">Neo4j</h5>
      <br>
      <p style="text-align: center; font-weight: 400;">Freddy Abad</p>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Ingrese nombre 1">
    </div>
    <div class="col-6">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Ingrese nombre 2">
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" style="margin: 1rem;">
    <div class="col-6">
      <button type="button" class="btn btn-info" style="margin-left: 28rem;">Agregar</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
  <br>
</div>



<router-outlet></router-outlet>